* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.d-none {
	display: none;
}

.absolute {
	position: absolute;
}

.transition {
	transition: 0.5s ease-in-out;
}
.slide-right {
	transform: translateX(15rem);
}
.slide-left {
	transform: translateX(-15rem);
}
.opacity-0 {
	opacity: 0;
}
.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	height: 320px;
}

.btn-open-cookie {
	height: inherit;
	border: unset;
	background-color: unset;
}

img {
	width: 100%;
}
main {
	font-size: 24px;
	margin-top: 20px;
	border: 2px solid red;

	margin: 0 1rem;
	padding: 1rem;
}

button {
	cursor: pointer;
}

.keys-container {
	width: 50%;
	position: absolute;

	display: flex;
	justify-content: inherit;

	justify-content: space-around;
}

kbd {
	width: 5rem;
	height: 5rem;
	background-color: #eeeeee;
	border-radius: 50%;
	border: 1px solid #b4b4b4;
	box-shadow:
		0 1px 1px rgb(0 0 0 / 0.2),
		0 2px 0 0 rgb(255 255 255 / 0.7) inset;
	color: #333333;

	font-size: 2.5em;
	font-weight: bold;
	line-height: 1;
	padding: 1em;
	white-space: nowrap;

	&.active {
		background-color: #fd8522;
		color: #eee;
	}
}

.green {
	background: rgba(87, 238, 137, 0.8);
}

.circle {
	position: absolute;

	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 1px #0000001a;
}

.left {
	left: 20%;
	top: 25%;
}
.right {
	right: 23%;
	top: 25%;
}

.pulse {
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}

.d-md-none {
	display: none;
}
@media (max-width: 768px) {
	.d-md-none {
		display: block;
	}
	.d-sm-none {
		display: none;
	}
}
